<!DOCTYPE html>

<html lang="en">

<body>
<h1>Phone contacts:</h1>
<br>
<form id="creationForm" method="POST">
    <label for="name">Name:
        <input name="name" type="text"/>
    </label>
    <label for="phoneNumber">Phone number:
        <input name="phoneNumber" type="text"/>
    </label>
    <input type="submit" value="Add new contact"/>
</form>
</body>

</html>